EDAX_PATH=/path/to/lEdax-x64
EDAX_HOST_DIR=/path/to/edax-reversi
FLIPPY_POSTGRES_URL=postgres://flippy:flippy@localhost:12321/flippy?sslmode=disable
FLIPPY_REDIS_URL=redis://localhost:12323/0
FLIPPY_SERVER_URL=http://localhost:7777
