{
    "pgn_organizer": {
        "source_folders": [
            "~",
            "$PROJECT_ROOT/something"
        ],
        "target_folder": "$PROJECT_ROOT/pgn",
        "playok_usernames": ["username", "other_username"]
    },
    "usernames": ["username", "some_user"],
    "edax_path": "~/your/path/to/edax",
    "db": {
        "user": "",
        "password": "",
        "host": "",
        "port": 12321,
        "db": ""
    }
}
